/INSTALL
/Makefile
/Makefile.in
/aclocal.m4
/ap_include.am
/apertium-asm.pc
/asm.autogen.att.gz
/asm.autogen.bin
/asm.automorf.att.gz
/asm.automorf.bin
/asm.rlx.bin
/autom4te.cache
/config.log
/config.status
/configure
/install-sh
/missing
/modes
/test/*-output.txt
